.logo{
    padding: 0px 40px 40px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding:0px;
}
  
.left-sidebar {
    position: sticky;
    top: 0;
    padding: 60px 40px;
    height: 100vh;
    background: #fff;
}

.sidebar-nav li .nav-link {
    color: #000;
    font-weight: 500;
    padding: 20px 40px;
}

.sidebar-nav li .active, .sidebar-nav li:hover{
    background: #38D483;
    border-radius: 50px;
}


main {
    padding: 10px;
    height: 100vh;
    background: #f6f6f6;
}

main .overview-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

main .main-btn{
    background: #38D483;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
}

main .main-btn span{
    padding-left: 10px;
    font-weight: 500;
}

main .main-btn:hover, main .main-btn:focus{
    background: #37d684;
    border: none;
}

main .overview{
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overview-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.overview-cards .card{
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background: rgba(56, 212, 131, 0.1);
    border: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: relative;
}

.overview-cards .card:nth-child(2){
    background: rgba(0, 168, 221, 0.1);
}
.overview-cards .card:nth-child(3){
    background: rgba(217, 221, 0, 0.1);
}

.overview-cards .card .border{
    position: absolute;
    width: 6px;
    height: 40px;
    top: 25px;
    left: -3px;
    border-radius: 50px;
    background: #38D483;
    border: none;
}

.overview-cards .card:nth-child(2) .border{
    background: #00A8DD;
}
.overview-cards .card:nth-child(3) .border{
    background: #D9DD00;
}

.overview-cards .card .card-title{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.overview-cards .card  .plan-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-cards .card .upgrade{
    font-size: 12px;
    font-weight: 600;
    color: #38D483;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
}

.overview-cards .card .progress{
    height: 14px;
    border-radius: 50px;
    color: #fff;
    background: #eeeeee;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.overview-cards .card .progress .progress-bar{
    background-color: #38D483;
}

.overview-cards .card:nth-child(3)  .progress-bar{
    background: #D9DD00;
}


.overview-cards .card limit-info{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    align-self: baseline;
}