body{
    background: #f6f6f6;
}

.nav{
    width: 100%;
    height: 300px;
    padding: 20px 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background: url("../assests/hero-image.png") no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-links, .buttons{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-links nav ul li, .nav-links .buttons a{
    list-style: none;
    color: #fff;
    display: inline-block;
    padding: 16px 32px;
}

.nav-links nav ul li a{
    color: #fff;
}

.nav-links .buttons a{
    font-weight: 600;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 50px;
}

.nav-links  .buttons a:nth-child(even){
    background: #38D483;
}

.form-wrapper{
    margin: -150px auto 0;
    width: 30%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: none;
    border-radius: 16px;
}

.form .step-content{
    margin: 0px 0px;
}

.form h3{
    margin-bottom: 40px;
    font-size: 20px;
}

.form .form-group{
    position: relative;
}

.form .form-group label{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #d5d5d5;
    background: white;
    text-transform: uppercase;
    padding: 0;
    margin:0;
    position: absolute;
    top: -14px;
    left: 20px;
    padding: 4px; 
}

.form .form-group input{
    font-size: 16px;
    padding: 16px;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #ddd;
    outline: none;
}

.form .form-group input[type="file"]{
    width: 100%;
    height: 200px;
    border-radius: 16px;
}


.form .form-group select{
    border-radius: 50px;
    height: 50px;
    padding: 0px 16px;
}

.buttons{
    display: flex;
    justify-content: end;
}

#next-btn, #prev-btn, #signIn{
    font-weight: 600;
    padding: 16px 32px;
    background: white;
    border: none;
    border-radius:50px;
}

#next-btn{
    background: #38D483;
}

#next-btn:active, #next-btn:focus{
    border: none;
}

.step-content {
    display: none;
}
.step-content.active {
    display: block;
}

